[Desktop Entry]
Type=Application
Name=BlaadPapers
GenericName=Wallpaper Manager
Comment=Super wallpaper manager
Icon=blaadpapers
Categories=Application;Viewer;DesktopSettings;Qt;
Exec=blaadpapers
Terminal=false
Keywords=wallpaper;
