[Desktop Entry]
Type=Application
Name=BlaadPapers
GenericName=Wallpaper Manager
Comment=Fast & clean wallpaper manager
Icon=blaadpapers
Terminal=false
Exec=blaadpapers
Categories=Graphics;Viewer;Qt
Keywords=wallpaper
Actions=random-wallpaper

[Desktop Action random-wallpaper]
Name=Set random wallpaper
Exec=blaadpapers -R
