[Desktop Entry]
Name=BlaadPapers
GenericName=Wallpaper Manager
Comment=Fast & clean wallpaper manager
Icon=blaadpapers
Type=Application
Exec=blaadpapers
Categories=Graphics;Viewer;Qt
Actions=Daemon
Keywords=wallpaper

[Desktop Action Daemon]
Name=Run Renderer Daemon
Exec=blaadpapers -S
